/* ГЛАВНАЯ СТРАНИЦА */

body {
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", Sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background: #000000;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0;
  margin: 0;
  padding: 0;
}

.features-name {
  font-size: 30px;
  line-height: 42px;
}

h2 {
  font-weight: bold;
}

.index-content{
  color: black;
}

.index-content-title {
  font-size: 30px;
  line-height: 42px;
}

header {
  display: block;
}

.main-header {
  background: #000000;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

ul {
  display: block;
}

.main-navigation ul {
  width: 780px;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-navigation li {
  display: inline-block;
}

.main-navigation ul a {
  display: block;
  padding: 23px 20px;
  margin-right: -3.2px;
  text-decoration: none;
  }

.main-header a {
  color: #ffffff;
}

.main-header a:hover {
  background: #242424;
  color: #ffffff;
}

.header-menu-active {
  position: relative;
}

.header-menu-active:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background: #ffffff;
  left: 0;
  bottom: -25px;
}

.user-block {
  max-width: 140px;
  float: right;
}

.user-block-login {
  position: relative;
  display: block;
  padding: 23px 20px;
  padding-left: 45px;
  text-decoration: none;
}

.user-block-login:before {
  content: '';
  position: absolute;
  top: 26px;
  left: 16px;
  width: 16px;
  height: 16px;
  background: url(../img/login.png) no-repeat 0 0;
  opacity: 0.3;
}

.user-block-login:hover:before {
  opacity: 1;
}

.index-logo {
  margin: 57px auto;
  margin-bottom: 30px;
  text-align: center;
}

.features {
  padding: 0;
  margin: 50px 0;
  margin-top: 30px;
  color: #f7f4f1;
}

.features-item:first-child {
  margin-left:0
}

.features-item {
  width: 300px;
  margin-left: 20px;
  float: left;
  text-align: center;
}

.features-name {
  position: relative;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 76px;
}

.features-name:after {
  content: "";
  position: absolute;
  bottom: -50px;
  left: 50%;
  margin-left: -15px;
  width: 30px;
  height: 30px;
  background: url(../img/shape-1.svg) no-repeat 0 0;
}

.index-content {
  margin: 30px 0;
  padding: 45px 80px;
  background: #fdfaf7 url(../img/background-gradient.jpg);
}

.index-content-left {
  position: relative;
  float: left;
  width: 349px;
  padding-right: 20px;
}

.index-content-title {
  font-size: 30px;
  line-height: 42px;
  margin-top: 0;
  margin-bottom: 29px;
}

time {
  text-transform: capitalize;
}

.news-preview {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 30px;
}

.news-preview li {
  margin-bottom: 29px;
}

.news-preview p {
  margin-bottom: 0;
}

.btn {
  display: inline-block;
  width: 140px;
  margin: 0;
  padding: 0;
  border: 0;
  background: #000;
  color: #fff;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  line-height: 43px;
  cursor: pointer;
}

.index-content-left:after {
  content: "";
  position: absolute;
  left: 110%;
  top: 50%;
  margin-top: -139px;
  width: 8px;
  height: 278px;
  background: url(../img/section-line.png) no-repeat 0 0;
}

.index-content-right {
  float: right;
  width: 300px;
}

.gallery-content {
  width: 286px;
  height: 164px;
  display: block;
  margin-left:0;
  border: 7px solid #fff;
  margin-bottom: 38px;
}

.gallery-next {
  margin-right: 0;
  text-transform: uppercase;
}

.gallery-prev {
  margin-left: 0;
  margin-right: 17px;
  text-transform: uppercase;
}

.btn-feedback {
  margin-right: 0;
  text-transform: uppercase;
}

.btn-how-to {
  margin-left: 0;
  margin-right: 17px;
  margin-top: 15px;
  text-transform: uppercase;
}

.appointment-form {
  margin-top: 20px;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

.appointment-form input[type="text"] {
  display: inline-block;
  width: 82px;
  margin-right: 15px;
  margin-bottom: 18px;
  padding: 10px 15px;
  padding-right: 40px;
  border: 2px solid #000000;
  background-color: #f9f6f3;
  text-transform: uppercase;
  font-family: "PT Sans Narrow";
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.appointment-form input[type="text"]:nth-child(2n) {
  margin-right: 0;
}

.btn-submit {
  width: 300px;
  border: none;
  color: white;
  background-color: #000000;
  text-transform: uppercase;
  cursor: pointer;
}

.btn:hover {
  background-color: #663d15;
}

.main-footer {
  margin-top: 65px;
  padding: 50px 0;
  background: #242424 url(../img/footer-background.jpg);
  color: #ffffff;
}

.footer-contacts {
  width: 300px;
  float: left;
}

.footer-social {
  text-align: center;
  width: 350px;
  float: left;
}

.footer-copyright {
  width: 140px;
  float: right;
  text-align: center;
}

.footer-contacts a {
  color: #ffffff;
}

.social-btn {
  display: inline-block;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background: #000000;
  width: 43px;
  height: 43px;
  margin-right: 5px;
  line-height: 40px;
}

.social-btn:hover {
  color: #ffffff;
}

.social-btn-vk {
  background: #000000 url(../img/vk.png) no-repeat center;
}

.social-btn-vk:hover {
  background: #ffffff url(../img/vk-black.png) no-repeat center;
}

.social-btn-fb {
  background: #000000 url(../img/facebook.png) no-repeat center;
}

.social-btn-fb:hover {
  background: #ffffff url(../img/facebook-black.png) no-repeat center;
}

.social-btn-inst {
  background: #000000 url(../img/insta.png) no-repeat center;
}

.social-btn-inst:hover {
  background: #ffffff url(../img/insta-black.png) no-repeat center;
}

.btn-academy:hover {
  background-color: #ffffff;
  color: #000000;
}

/* СТРАНИЦА МАГАЗИНА */
.inner-body {
  background: #fdfaf7 url(../img/background-gradient.jpg)
}

.inner-body .page-header {
  background: #000000;
}

.page-header a {
  color: #ffffff;
}

.page-header a:hover {
  background: #242424;
  color: #ffffff;
}

.headline {
  color: #000000;
  font-size: 30px;
  line-height: 42px;
  margin-top: 52px;
  margin-bottom: 5px;
  }

.breadcrumbs ul{
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.breadcrumbs li {
  display: inline-block;
  position: relative;
}

.breadcrumbs ul a {
  display: block;
  padding: 5px 0;
  padding-right: 35px;
  margin-right: -3.2px;
  text-decoration: none;
  color: #000000;
}

.breadcrumbs li:after {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 12px;
  height: 12px;
  background: url(../img/shape-1-small.svg) no-repeat 0 0;
}

.breadcrumbs li:last-child:after {
  background: transparent;
}

.breadcrumbs li:last-child a {
  color: #aba9a7;
}

.shop-filters {
  width: 210px;
  float: left;
  color: #000000;
}

.catalog {
  width: 710px;
  float: right;
  color: #000000;
}

.shop-filters-mnf {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
}

.shop-filters-title {
  line-height: 30px;
  margin: 0;
  margin-bottom: 15px;
  font-size: 24px;
}

.mnf input[type="checkbox"] {
  display: block;
  visibility: hidden;
}

.mnf label {
  display: block;
  height: 20px;
  width: 150px;
  background: #fbf8f6 url(../img/box.png) no-repeat;
  padding-left: 40px;
}

.mnf input[type=checkbox]:checked + label {
  background: #fbf8f6 url(../img/cross.png) no-repeat;
}

.mnf label:hover {
  color: #663d15;
}

.filters-groups input[type="radio"] {
  display: block;
  visibility: hidden;
}

.filters-groups label {
  display: block;
  height: 20px;
  width: 150px;
  background: #fbf8f6 url(../img/round.png) no-repeat;
  padding-left: 40px;
}

#group-2 {
  margin-bottom: 20px;
}

.filters-groups input[type=radio]:checked + label {
  background: #fbf8f6 url(../img/dot.png) no-repeat;
}

.filters-groups label:hover {
  color: #663d15;
}

.shop-btn-submit {
  margin-top: 50px;
}

.catalog {
  margin-bottom: 25px;
}

.catalog-item {
  display: inline-block;
  position: relative;
  width: 220px;
  min-height: 285px;
  margin-bottom: 18px;
  margin-right: 20px;
  vertical-align: top;
  background: #fff;
  box-shadow: 0 0 5px 0 #cacaca;
}

.catalog-item:nth-child(3n)
{
  margin-right: 0;
}

.catalog-item p {
  display: inline-block;
  margin: 6px 16px;
  line-height: 18px;
  text-decoration: none;
  color: #000000;
}

.buy {
  margin: 6px 15px;
}

.buy-price {
  display: inline-block;
  line-height: 18px;
  text-align: center;
  margin: 0;
  width: 85px;
  background-color: #e5e5e5;
  padding: 12px;
  margin-left:0;
}

.buy-button {
  display: inline-block;
  line-height: 18px;
  text-align: center;
  margin: 0;
}

.buy-button a {
  display: block;
  width: 55px;
  background-color: #000000;
  color: #ffffff;
  padding: 12px;
  text-decoration: none;
  margin-left: -5px;
  margin-right:0;
}

td a:hover {
  background-color: #663d15;
}

.page {
  margin-top: 25px;
}

.page-switch {
  display: inline-block;
  background: #000000;
  width: 43px;
  margin-right: 5px;
  line-height: 43px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}

.page-active {
  background: #ffffff;
  color: #000000;
}

.page-switch:hover {
  background-color: #663d15;
  color: #ffffff;
}
